

{% block title %}Wysłano link do resetowania hasła!{% endblock %}

{% block body %}
    <p>
        Jeśli mail jest powiązany z jakimś kontem, to zostanie wysłany na niego link ważny przez: {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
{% endblock %}
