<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./dist/css/login.css">
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <meta charset="utf-8">


    <style>

    small{
        color: black ;
    }

    </style>

  </head>
  
  <body>
  
  <!-- particles.js container -->
  <div id="particles-js"></div>
  
  <!-- scripts do particle-->
  <script src="./dist/js/particles.js"></script>
  <script src="./dist/js/app.js"></script>
  
  <div class="container right-panel-active noanimation" id="container">
    <div class="form-container sign-in-container">

    </div>
    <div class="overlay-container ">
      <div class="overlay">
        <div class="form-container overlay-panel overlay-left">
            <a href="/login" class="navbar-brand logo">
            {% include 'elements/logo.html.twig' %}
            </a>
                {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Zresetuj hasło</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Podaj swój mail, jeśli jest z nim konto zostanie wysłany link.
            </small><br><br>
        </div>

        <button class="btn btn-primary">Wyślij link resetujący</button>
    {{ form_end(requestForm) }}
    </form>
        </div>
        <div class="overlay-panel overlay-right">
       
        </div>
      </div>
    </div>
  </div>
  
  </body>